body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
}

#map {
    width: 100%;
    height: 100vh;
}

.menu {
    a {
        display: flex !important;
        align-items: center;
        i {
            margin-right: 5px;
        }
    }
}

.info-item {
    transition: display 1s;
    font-size: 14px;
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px dashed #ddd;
    .key {
        width: 107px;
        font-weight: 700;
        font-size: 12px;
    }
    .value {
        padding-left: 10px;
        flex: 1;
        font-size: 12px;
    }
}

.button {
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#search_box {
    z-index: 9999;
    position: relative;
    width: 500px;
    max-width: 93vw;
    top: 10px;
    flex-wrap: wrap;
    left: 5px;
    .search_button {
        border: 1px solid transparent;
        color: #fff;
        background-color: #0a0;
        border-color: #008200;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        &:hover {
            color: #fff;
            background-color: #0c8e0c;
            border-color: #204d74;
        }
    }
    #suggestionWrapper {
        max-height: 60vh;
        overflow: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        span {
            padding: 4px 8px;
            &:hover {
                cursor: pointer;
                background-color: #f1f1f1;
            }
        }
    }
    .menu {
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 0;
        flex-wrap: wrap;
        li:first-child {
            border-right: 1px solid #dcdfe6;
        }
        li {
            flex: 1;
            justify-content: center;
            a {
                font-size: 14px;
                font-weight: 500;
                padding: 0px 20px;
                height: 40px;
                color: #929398;
                text-decoration: none;
                border-bottom: 1px solid #dcdfe6;
                &:hover {
                    color: #295477;
                }
            }
        }
        .active {
            a {
                border-bottom: none;
                //box-shadow: inset 0px 2px 5px 2px #f1f1f1;
                color: #295477;
            }
        }
    }
    .info-box {
        max-height: 60vh;
        overflow: auto;
        overflow-x: hidden;
        padding: 0px;
        max-width: 90%;
        padding: 15px;
    }
    .message-box {
        i {
            margin-right: 10px;
        }
        padding: 8px 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        padding: 10px 7px 10px 7px;
        flex: 1;
        margin-right: 5px;
    }
    .search_result_container {
        padding: 7px 4px;
        margin-top: 10px;
        margin-left: 0;
        display: flex;
        border-radius: 0px;
        overflow: hidden;
        overflow-x: hidden;
        border: 1px solid;
        border-color: #ddd;
        background: white;
        .closeButton {
            z-index: 9999;
            position: absolute;
            right: 0px;
            top: 0px;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            span {
                &:hover {
                    opacity: 0.6;
                }
                i {
                    font-size: 18px;
                }
                padding: 5px;
                cursor: pointer;
            }
        }
        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .egrnButton {
                color: white;
                background-color: orange;
                border: 1px solid rgb(255, 137, 0);
                text-decoration: none;
                padding: 4px 16px;
                width: fit-content;
                margin-top: 15px;
                height: 50;
                display: flex;
                align-items: center;
            }
            .more_info_button {
                max-width: 100px;
                display: flex;
                text-decoration: none;
                font-size: 10px;
                color: #17557d;
                font-size: 10px;
                &:hover {
                    color: red
                }
                align-items: center;
            }
        }
    }
    li {
        list-style-type: none;
        transition: 1s;
    }
    position: absolute;
    .title {}
    .house_info {
        display: flex;
        flex-direction: column;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active до версии 2.1.8 */

{
    opacity: 0;
}