<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Карта</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="css/index.css?v1.2" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script defer src="js/index.js?v1.7"></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>
    <!-- Leaflet's -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>

<body>
    <div id="search_box">
        <div>
            <div style="display:flex;">
                <div class="input-container">
                    <input placeholder="Введите адрес или кадастровый номер" v-model="searchQuery" type="search" name="" id="searchInput" @input="suggestAdress" @change="inputChanged" />
                </div>
                <span @click="inputChanged({target:{
                              value:searchQuery
                              }})" class="button search_button">Искать</span>
            </div>
            <div v-show="shouldShowSuggestWrapper" id="suggestionWrapper">
                <span class="suggestionItem" v-for="(adress,index) in adressSugestions" v-on:click="(e) =>{searchQuery=adress.value;inputChanged(e,true)}" :value="adress.value">{{adress.value}}</span
            >
        </div>
      </div>
      <ul
        v-show="openSearchBox"
        class="search_result_container"
        uk-tab
        >
        <div class="closeButton">
          <span v-on:click="() => {searchQuery='';searchResult=[]}"
            ><i class="material-icons">close</i></span
            >
        </div>
        <span
          v-if="Object.entries(searchResult).length === 0"
          class="uk-text-meta message-box"
          >
          <i class="material-icons">
          info
          </i>
          Нажмите на любой объект, чтобы получить информацию о нем
        </span>

                <div v-else-if="loading" style="width: 100%;
                      display: flex;
                      justify-content: center;">
                    <lottie-player src="media/lottie-loader.json" background="transparent" speed="2" style="width: 200px; height: 200px;" loop="" autoplay="">
                    </lottie-player>
                </div>
                <div style="width:100%;padding-left:0;margin-left: 0;" v-else>
                    <ul class="menu">
                        <li v-for="(rs,index) in searchResult" v-if="searchResult[index] !== undefined && searchResult[index].address !== undefined" :class="activeIndex === index ? 'active' : ''" @click="activeIndex = index">
                            <a href="#"><i class="material-icons"> {{objectTypes[index].icon}} </i
                ><span>{{objectTypes[index].title}}</span></a>
                        </li>
                    </ul>
                    <ul class="uk-margin info-box">
                        <li v-if="searchResult[1] !== undefined && searchResult[1].address !== undefined" v-show="activeIndex === 1">

                            <div class="house_info">
                                <div class="info-item">
                                    <span class="key">
                  Кад.номер
                  </span>
                                    <span class="value">
                  {{searchResult[1].cadnum === undefined ? searchResult[1].cn : searchResult[1].cadnum}}
                  </span>
                                </div>
                                <div class="info-item">
                                    <span class="key">
                  Адрес
                  </span>
                                    <span class="value">
                  {{ searchResult[1].address}}
                  </span>
                                </div>
                                <div v-if="searchResult[1].area !== undefined" class="info-item">
                                    <span class="key">
                  Общая площадь
                  </span>
                                    <span class="value">
                  {{searchResult[1].area}} ({{searchResult[1].unit}})
                  </span>
                                </div>
                                <div class="more_info" :style="!moreInfo[1] ? 'display:none' : ''">
                                    <div v-if="searchResult[1].cadastrial_cost !== undefined" class="info-item">
                                        <span class="key">
                    Кадастровая стоимость
                    </span>
                                        <span class="value">
                    {{searchResult[1].cadastrial_cost + " руб."}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[1].status !== undefined" class="info-item">
                                        <span class="key">
                    Статус
                    </span>
                                        <span class="value">
                    {{searchResult[1].status}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[1].oks_type !== undefined" class="info-item">
                                        <span class="key">
                    Назначение
                    </span>
                                        <span class="value">
                    {{searchResult[1].oks_type}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[1].category !== undefined" class="info-item">
                                        <span class="key">
                    Категория земель
                    </span>
                                        <span class="value">
                    {{searchResult[1].category}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[1].allowed_use !== undefined && searchResult[1].allowed_use !== '' " class="info-item">
                                        <span class="key">
                    Тип разрешенного использования
                    </span>
                                        <span class="value">
                    {{searchResult[1].allowed_use}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[1].ownersheep_type !== undefined && searchResult[1].ownersheep_type !== '' " class="info-item">
                                        <span class="key">
                    Форма собственности
                    </span>
                                        <span class="value">
                    {{searchResult[1].ownersheep_type}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[1].registration_date !== undefined" class="info-item">
                                        <span class="key">
                    Постановка на учет
                    </span>
                                        <span class="value">
                    {{searchResult[1].registration_date}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[1].cad_eng_data !== undefined,null" class="info-item">
                                        <span class="key">
                    Кадастровый инженер
                    </span>
                                        <span>
                    {{searchResult[1].cad_eng_data.ci_surname}}
                    {{searchResult[1].cad_eng_data.ci_first}}
                    {{searchResult[1].cad_eng_data.ci_patronymic}}</span
                      >
                  </div>
                  <div
                    v-if="searchResult[1].elements_constuct !== undefined,null"
                    class="info-item"
                    >
                    <span class="key">Материал стен</span>
                                        <span class="value">{{searchResult[1].elements_constuct[0].wall}}</span
                      >
                  </div>
                </div>
                <div class="footer"><span
                  @click="moreInfo[1] = !moreInfo[1]"
                  class="button more_info_button"
                  >
                  <i class="material-icons">
                    {{!moreInfo[1] ? "arrow_drop_down" : "arrow_drop_up"}}
                  </i>
                  {{!moreInfo[1] ? "Больше информации" : "Скрыть информацию"}}
                  </span>
                                        <a class="button egrnButton" target="_blank" :href="'https://ruegrn.info/egrn?query='+searchResult[1].cn"><i class="material-icons">check</i><span>Получить выписку</span></a>
                                    </div>
                                </div>
                        </li>
                        <li v-if="searchResult[5] !== undefined && searchResult[5].address !== undefined" v-show="activeIndex === 5">

                            <div class="house_info">
                                <!--
                  <div
                    v-for="(res,key) in  searchResult[5]"
                    v-if="res !== null && key !=
                  'cad_eng_data' && key != 'elements_constuct' && objectAttributes[key] !== undefined"
                    class="info-item"
                  >
                    <span class="key">
                      {{objectAttributes[key] !== undefined ?
                      objectAttributes[key] : building_type[key] !== undefined ?
                      building_type[key] : key}}
                    </span>
                    <span class="value">{{res}}</span>
                  </div>
                  -->
                                <div class="info-item">
                                    <span class="key">
                  Кад.номер
                  </span>
                                    <span class="value">
                  {{searchResult[5].cadnum === undefined ? searchResult[5].cn : searchResult[5].cadnum}}
                  </span>
                                </div>
                                <div class="info-item">
                                    <span class="key">
                  Адрес
                  </span>
                                    <span class="value">
                  {{searchResult[5].address}}
                  </span>
                                </div>
                                <div v-if="searchResult[1].area !== undefined" class="info-item">
                                    <span class="key">
                  Общая площадь
                  </span>
                                    <span class="value">
                  {{searchResult[5].area}} ({{searchResult[5].unit}})
                  </span>
                                </div>
                                <div class="more_info" :style="!moreInfo[5] ? 'display:none' : ''">
                                    <div v-if="searchResult[5].cadastrial_cost !== undefined" class="info-item">
                                        <span class="key">
                    Кадастровая стоимость
                    </span>
                                        <span class="value">
                    {{searchResult[5].cadastrial_cost + " руб."}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[5].status !== undefined" class="info-item">
                                        <span class="key">
                    Статус
                    </span>
                                        <span class="value">
                    {{searchResult[5].status}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[5].obj_type !== undefined" class="info-item">
                                        <span class="key">
                    Тип
                    </span>
                                        <span class="value">
                    {{searchResult[5].obj_type}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[5].oks_type !== undefined" class="info-item">
                                        <span class="key">
                    Тип ОКС
                    </span>
                                        <span class="value">
                    {{searchResult[5].oks_type}})
                    </span>
                                    </div>
                                    <div v-if="searchResult[5].floors_cnt !== undefined" class="info-item">
                                        <span class="key">
                    Общая этажность
                    </span>
                                        <span class="value">
                    {{searchResult[5].floors_cnt}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[5].undergroud_floors !== undefined" class="info-item">
                                        <span class="key">
                    Подземная этажность
                    </span>
                                        <span class="value">
                    {{searchResult[5].undergroud_floors}}
                    </span>
                                    </div>
                                    <div v-if="searchResult[5].cad_eng_data !== undefined && searchResult[5].cad_eng_data !== null" class="info-item">
                                        <span class="key">
                    Кадастровый инженер
                    </span>
                                        <span class="value">
                    {{searchResult[5].cad_eng_data.ci_surname}}
                    {{searchResult[5].cad_eng_data.ci_first}}
                    {{searchResult[5].cad_eng_data.ci_patronymic}}</span
                      >
                  </div>
                  <div
                    v-if="searchResult[5].walls_material !== undefined"
                    class="info-item"
                    >
                    <span class="key">Материал стен</span>
                                        <span class="value">{{searchResult[5].walls_material}}</span
                      >
                  </div>

                  <div
                  v-if="searchResult[5].construction_end !== undefined"
                  class="info-item"
                  >
                  <span class="key">Завершение строительства</span>
                                        <span class="value">{{searchResult[5].construction_end}}</span
                    >
                </div>

                  <div v-if="searchResult[5].exploitation_start !== undefined" class="info-item">
                    <span class="key">
                    Ввод в эксплуатацию
                    </span>
                                        <span class="value">
                                          {{searchResult[5].exploitation_start}}
               
                    </span>
                                    </div>
                                    <div v-if="searchResult[5].registration_date !== undefined" class="info-item">
                                        <span class="key">
                    Постановка на учет
                    </span>
                                        <span class="value">
                                          {{searchResult[5].registration_date}}
                    </span>
                                    </div>
                                </div>
                                <div class="footer"><span @click="moreInfo[5] = !moreInfo[5]" href="" class="button more_info_button">
                  <i class="material-icons"
                    >{{!moreInfo[5] ? "arrow_drop_down" : "arrow_drop_up"}}</i
                    >{{!moreInfo[5] ? "Больше информации" : "Скрыть информацию"}}
                  </span>
                                    <a class="button egrnButton" target="_blank" :href="'https://ruegrn.info/egrn?query='+searchResult[5].cn"><i class="material-icons">check</i> <span>Получить выписку</span></a
                    >
                </div>
              </div>
           
           
            
            </li>
            <div v-if="searchResult[1] !== undefined && searchResult[5] !== undefined">
              <div v-if="searchResult[1].address === undefined && searchResult[5].address === undefined">
                Ничего не найдено
              </div>
            </div>
          </ul>
       
        </div>
      </ul>
      <datalist id="suggestions_list">
        <option
          v-for="suggestions in adressSugestions"
          :value="suggestions.value"
          >{{suggestions.value}}</option
          >
      </datalist>
    </div>
    <div id="map"></div>
  </body>
</html>